---
const { sectionClass, icon, title, main, desc, iconClass } = Astro.props

const _sectionClass = `bg-cover ${sectionClass}`
---

<section class={_sectionClass}>
  <div
    class="
        grid
        gap-4
        lg:px-0
        md:text-left
        p-4
        py-8
        text-black
        dark:text-white
        bg-transparentWhite
        dark:bg-transparentBlack
        backdrop-blur-md
      "
  >
    <div
      class="
      grid
      gap-4
      md:grid-cols-2
      items-center
      justify-center
    "
    >
      <div class="h-full grid content-center">
        <img
          src={icon}
          alt=""
          class={`${iconClass ?? 'max-h-36	md:max-h-48 mx-auto'}`}
        />
      </div>
      <div class="h-full grid justify-items-start">
        <div class="max-w-xl">
          <h3 class="opacity-70 text-xl my-4">{title}</h3>
          <p class="font-bold text-3xl my-4">{main}</p>
          <p class="opacity-70 my-6">{desc}</p>
        </div>
      </div>
    </div>
  </div>
</section>
