---
import Layout from '../layouts/Default.astro';

const response = await fetch('https://api.rss2json.com/v1/api.json?rss_url=https://medium.com/feed/devprtcl');
const data = await response.json();
const blogs_data=data.items;
const f_blogs=blogs_data.slice(0,3);
const blogs=f_blogs.map((blog)=>{
let act_des=blog.description;
let f_desc=(act_des.replace(/<[^>]+>/g, '')).replace(/\n/g, '');
blog.desc=f_desc.substring(0, 250)+"...";
return blog;
});
---

<Layout metaTitle="Home | DevProtocol">
  <header
    class="
      flex flex-col
      items-center
      justify-center
      text-center text-lg
      pt-24
      pb-20
      lg:px-0
      px-4
    "
  >
    <a href="http://stakes.social/" class="mt-2">
      <button class="text-white py-2 px-4 rounded" style="background: #d500e6">
        Join now
      </button>
      <img src="/assets/hand.png" alt="" class="ml-20 -mt-6 max-h-32" />
    </a>
    <h2 class="font-black font-display lg:text-6xl text-4xl my-6">
      Decentralized Creator Economy
    </h2>
    <p class="max-w-prose my-6">
      Everything creators need to grow their business: monetization, governance,
      and community is right here. Dev Protocol is easy to start with no
      knowledge of blockchain. Welcome to the new ecosystem for creators and
      patrons!
    </p>
  </header>
  <section
    class="
      flex flex-col
      items-center
      justify-center
      text-center text-lg
      pb-20
      lg:px-0
      px-4
    "
  >
    <a class="flex w-auto items-center">
      <img src="/assets/creator.png" alt="" class="max-h-56 lg:ml-52" />
      <p class="text-gray-400 ml-4 font-mono">
        Creative space by <br />
        White Russian Studio
      </p>
    </a>
    <h3 class="font-black font-display text-3xl mt-4">
      Decentralized Creator Economy
    </h3>
    <p class="max-w-prose my-6">
      Dev Protocol offers a revolutionary and powerful solution to grow and
      manage your business with blockchain. You can prove the ownership of your
      works and raise its revenue through support from the community. Let's
      start your creator economy today.
    </p>
    <a
      href="https://docs.devprotocol.xyz/en/stakes-social/onboard-guide/"
      class="underline font-bold"
      >Know More</a
    >
    <a href="https://stakes.social/create" class="mt-6">
      <button class="bg-black text-white py-2 px-6 rounded">
        Submit a project
      </button>
    </a>
  </section>
  <hr class="mx-auto bg-gray-300 rounded h-1 mb-16" />
  <!-- TODO: Convert the below code to a slider of success stories -->
  <section
    class="
      flex flex-col
      items-center
      justify-center
      text-center text-lg
      pb-20
      lg:px-0
      px-4
    "
  >
    <p class="font-mono text-base mb-4 text-gray-400">
      Creator Success Stories
    </p>
    <h3 class="font-black font-display text-3xl my-8">
      Staking is Stronger Than Donation
    </h3>
    <img src="/assets/vyper.png" alt="" class="max-h-56" />
    <p class="underline font-bold mt-6 font-mono">Vyper</p>
    <p class="max-w-prose my-6">
      Vyper is a Python-like language for writing EVM smart contracts. Vyper is
      used in Uniswap v1 and CurveFinance contracts. They had trouble collecting
      donations even though they were bringing in a lot of revenue for many
      blockchain projects. They raised $44,000 in donations in two years with
      GitCoin, and received $125,000 in compensation in one year with Dev
      Protocol.
    </p>
    <p class="font-mono text-base text-gray-400">1/10</p>
  </section>
  <section
    class="
      flex flex-col
      items-center
      justify-center
      text-center text-lg
      pb-20
      lg:px-0
      px-4
    "
  >
    <a class="flex w-auto items-center">
      <img src="/assets/patron.png" alt="" class="max-h-56 lg:ml-52" />
      <p class="text-gray-400 ml-4 font-mono">
        Creative space by <br />
        White Russian Studio
      </p>
    </a>
    <h3 class="font-black font-display text-3xl my-4">Hi, Patron!</h3>
    <p class="max-w-prose my-6">
      Ever given up buying the work of your favorite creators for financial
      reasons? The Dev Protocol has made possible the opportunity for you to
      earn cryptos while supporting the creators. Welcome to the new Symbiotic
      Economy with creators!
    </p>
    <a
      href="https://docs.devprotocol.xyz/en/stakes-social/how-to-stake/"
      class="underline font-bold"
      >Know More</a
    >
    <a href="https://stakes.social/" class="mt-6">
      <button class="bg-black text-white py-2 px-6 rounded">
        Start Staking
      </button>
    </a>
  </section>
  <hr class="mx-auto bg-gray-300 rounded h-1 mb-16" />
  <section
    class="
      flex flex-col
      items-center
      justify-center
      text-center text-lg
      pb-20
      lg:px-0
      px-4
    "
  >
    <p class="text-gray-400 ml-4 font-mono">Seleted Projects</p>
    <!-- TODO: Add the selected projects cards, dynamically -->
  </section>
  <section
    class="
      flex flex-col
      items-center
      justify-center
      text-center text-lg
      pb-20
      lg:px-0
      px-4
    "
  >
    <p class="font-mono text-base mb-4 text-gray-400">
      Creator Success Stories
    </p>
    <h3 class="font-black font-display text-3xl my-8">DEV Token</h3>
    <img src="/assets/devtoken.png" alt="" class="max-h-56" />
    <a
      href="https://etherscan.io/token/0x5cAf454Ba92e6F2c929DF14667Ee360eD9fD5b26"
      ><p class="underline font-bold mt-6 font-mono">View on Etherscan</p></a
    >
    <p class="max-w-prose my-6">
      DEV is an inflationary token that is rewarded to patrons and OSS projects
      for being active participants in the Dev Protocol ecosystem. The Dev
      Protocol inflation rate for minting is determined by the total amount of
      DEV staked versus OSS projects onboarded. The result is a sustainable
      counter-balance system.
    </p>
    <a
      href="https://app.uniswap.org/#/swap?outputCurrency=0x5caf454ba92e6f2c929df14667ee360ed9fd5b26&use=V2"
      class="mt-6"
    >
      <button class="bg-black text-white py-2 px-6 rounded">Buy Dev</button>
    </a>
  </section>
  <section class="bg-gray-100 flex justify-evenly items-center p-10">
    <a href="#"
      ><img src="/assets/sios.png" alt="Sios" class="w-40 h-auto"
    /></a>
    <a href="#"
      ><img src="/assets/hashhub.png" alt="Hashhub" class="w-40 h-auto"
    /></a>
    <a href="#"
      ><img
        src="/assets/msstartups.png"
        alt="Microsoft for Startups"
        class="w-40 h-auto"
    /></a>
    <a href="#"
      ><img src="/assets/miraise.png" alt="Miraise" class="w-40 h-auto"
    /></a>
    <a href="#"
      ><img
        src="/assets/monexventures.png"
        alt="Monex Ventures"
        class="w-40 h-auto"
    /></a>
  </section>
  <section class="bg-blue-500 px-20 py-28">
    <p class="font-display text-2xl text-gray-100">Latest on Medium</p>
    <div id="blogs" class="flex flex-col md:flex-row my-10">
      { blogs.map((blog)=>(
      <div class="mx-5 xl:mx-auto md:w-80 xl:w-aut xl:max-w-xs 2xl:max-w-sm">
        <a href="{blog.link}">
          <img class="h-64" src="{blog.thumbnail}" alt="" />
        </a>
        <div>
          <a href="{blog.link}">
            <h5 class="my-6 text-gray-100 font-bold text-xl">{blog.title}</h5>
          </a>
          <p class="text-left font-normal text-gray-100 mb-3">{blog.desc}</p>
        </div>
      </div>
      )) }
    </div>
    <a href="/devtokens" class="mt-6 mx-auto block">
      <p align="center">
        <button class="bg-white font-display text-gray-900 py-2 px-6">
          See more on Medium
        </button>
      </p>
    </a>
  </section>

  <footer
    class="bg-black text-white lg:px-20 lg:py-28 px-10 py-14 grid grid-cols-12"
  >
    <div class="flex flex-col lg:col-span-6 col-span-full lg:mx-0 mx-auto">
      <div>
        <img src="/assets/devlogo.svg" alt="" class="w-28" />
      </div>
      <div class="mt-10 flex flex-col">
        <p
          class="
            font-mono
            text-gray-300 text-opacity-70
            sm:w-96
            font-medium
            tracking-normal
            leading-2
          "
        >
          Dev Protocol is the core of the Decentralized Creator Economy,
          completely on-chain, 100% composable middleware protocol.
        </p>
        <div class="flex mt-6">
          <a href="https://twitter.com/devprtcl">
            <svg
              width="26"
              height="21"
              viewBox="0 0 26 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="mr-2"
            >
              <path
                d="M23.2689 5.27976C23.2847 5.50315 23.2847 5.72653 23.2847 5.95197C23.2847 12.8212 17.9589 20.7436 8.22039 20.7436V20.7395C5.34362 20.7436 2.5266 19.9345 0.104828 18.4089C0.523134 18.4583 0.943538 18.483 1.36499 18.484C3.74902 18.4861 6.06491 17.7006 7.94047 16.2543C5.67491 16.2121 3.68821 14.7617 2.99418 12.6442C3.78781 12.7945 4.60555 12.7636 5.38451 12.5546C2.91451 12.0646 1.13749 9.93373 1.13749 7.45903C1.13749 7.43638 1.13749 7.41476 1.13749 7.39315C1.87346 7.79565 2.69749 8.01903 3.54039 8.04373C1.21402 6.51712 0.496925 3.47829 1.90176 1.10241C4.58983 4.3502 8.55588 6.32462 12.8134 6.53359C12.3867 4.728 12.9696 2.83594 14.3451 1.56668C16.4775 -0.401559 19.8313 -0.300677 21.8358 1.79212C23.0215 1.56256 24.158 1.13535 25.198 0.530058C24.8027 1.73344 23.9756 2.75565 22.8706 3.40521C23.92 3.28373 24.9453 3.00785 25.9109 2.58682C25.2001 3.6327 24.3047 4.54373 23.2689 5.27976Z"
                fill="#AAAAAA"
              />
            </svg>
          </a>
          <a href="https://medium.com/devprtcl">
            <svg
              width="38"
              height="21"
              viewBox="0 0 38 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0)">
                <path
                  d="M21.1985 10.5018C21.1985 16.3018 16.4525 21.0035 10.601 21.0035C4.74958 21.0035 0 16.2983 0 10.5018C0 4.70525 4.74598 0 10.5974 0C16.4489 0 21.1985 4.7017 21.1985 10.5018Z"
                  fill="#AAAAAA"
                />
                <path
                  d="M32.8258 10.5017C32.8258 15.9617 30.4528 20.387 27.5252 20.387C24.5977 20.387 22.2247 15.9617 22.2247 10.5017C22.2247 5.0418 24.5977 0.616455 27.5252 0.616455C30.4528 0.616455 32.8258 5.0418 32.8258 10.5017Z"
                  fill="#AAAAAA"
                />
                <path
                  d="M37.579 10.5017C37.579 15.3912 36.7436 19.3559 35.7137 19.3559C34.6839 19.3559 33.8484 15.3912 33.8484 10.5017C33.8484 5.6122 34.6839 1.64746 35.7137 1.64746C36.7472 1.64392 37.579 5.60866 37.579 10.5017Z"
                  fill="#AAAAAA"
                />
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="37.5789" height="21" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        <a class="mt-4 text-lg font-mono" href="#">Code of Conduct</a>
      </div>
    </div>

    <div
      class="
        lg:col-span-6
        flex flex-row
        font-mono
        justify-between
        sm:justify-around
        flex-wrap
        items-start
        col-span-full
        mt-14
        lg:mt-0
        font-semibold
      "
    >
      <ul class="leading-10 mx-2">
        <li>
          <ul>
            Products
          </ul>
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="http://stakes.social/"
            >Stakes.social</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="https://github.com/dev-protocol/khaos"
            >Khaos Oracle</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="https://github.com/dev-protocol/dev-kit-js"
            >Dev Kit</a
          >
        </li>
      </ul>
      <ul class="leading-10 mx-2">
        <li>
          <ul>
            Support
          </ul>
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="#"
            >Tutorials</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="https://docs.devprotocol.xyz/"
            >Documentation</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="https://discord.gg/VwJp4KM"
            >Discord</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="https://community.devprotocol.xyz/"
            >Forum</a
          >
        </li>
      </ul>
      <ul class="leading-10 mx-2">
        <li>
          <ul>
            Protocol
          </ul>
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="https://govern.devprotocol.xyz/"
            >Govern</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="https://github.com/dev-protocol"
            >GitHub</a
          >
        </li>
        <li>
          <a
            target="_blank"
            class="hover:text-white text-gray-400 opacity-70"
            href="#"
            >Proposals</a
          >
        </li>
      </ul>
    </div>
  </footer>
</Layout>
