---
import Footer from '@components/Global/Footer.astro'

import Navigation from '../components/Global/Navigation.vue'

const { metaTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{metaTitle}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
    <meta
      name="description"
      content="DEV is building a sustainable ecosystem for all creators by tokenization."
    />
    <meta property="og:title" content={metaTitle} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.request.canonicalURL.href} />
    <meta
      property="og:image"
      content={`${Astro.request.canonicalURL.origin}/assets/og.png`}
    />
    <meta
      property="og:description"
      content="DEV is building a sustainable ecosystem for all creators by tokenization."
    />
    <meta property="og:site_name" content="Dev Protocol" />
    <meta name="twitter:site" content="@devprtcl" />
    <meta name="twitter:creator" content="@devprtcl" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metaTitle} />
    <meta
      name="twitter:description"
      content="DEV is building a sustainable ecosystem for all creators by tokenization."
    />
    <meta
      name="twitter:image"
      content={`${Astro.request.canonicalURL.origin}/assets/og.png`}
    />
  </head>

  <body
    class="font-body text-gray-900 dark:bg-darkPrimary dark:text-white mt-24"
  >
    <Navigation client:visible />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
